In [1]:
import os
import numpy as np
import pandas as pd

In [13]:
# 設定 data_path
dir_data = '../../../../../Volumes/FERMIN128/AI100/home-credit-default-risk/'

In [14]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ../../../../../Volumes/FERMIN128/AI100/home-credit-default-risk/application_train.csv

In [15]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
app_train.describe

<bound method NDFrame.describe of         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
2                    Y             0         67500.000    135000.0
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
6                    Y             1        171000.000   1560726.0
7                    Y             0        360000.000   1530000.0
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
13                   N             1        225000.000    918468.0
14                   Y             0        189000.000    773680.5
15                   Y             0        157500.000    299772.0
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
20                   Y             0        135000.000    427500.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
24                   N             2        135000.000    247500.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
28                   Y             0        270000.000    790830.0
29                   Y             0         90000.000    180000.0
...                ...           ...               ...         ...
307481               Y             0        225000.000    297000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307491               Y             2         90000.000   1078200.0
307492               Y             0        585000.000   1575000.0
307493               Y             0        135000.000    946764.0
307494               N             1        270000.000    479700.0
307495               N             0        180000.000    808650.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307498               Y             0        198000.000   1312110.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
5           27517.5  ...                 0                0                0
6           41301.0  ...                 0                0                0
7           42075.0  ...                 0                0                0
8           33826.5  ...                 0                0                0
9           20250.0  ...                 0                0                0
10          21177.0  ...                 0                0                0
11          10678.5  ...                 0                0                0
12           5881.5  ...                 0                0                0
13          28966.5  ...                 0                0                0
14          32778.0  ...                 0                0                0
15          20160.0  ...                 0                0                0
16          26149.5  ...                 0                0                0
17          13500.0  ...                 0                0                0
18           7875.0  ...                 0                0                0
19          17563.5  ...                 0                0                0
20          21375.0  ...                 0                0                0
21          37561.5  ...                 0                0                0
22          32521.5  ...                 0                0                0
23          23850.0  ...                 0                0                0
24          12703.5  ...                 0                0                0
25          11074.5  ...                 0                0                0
26          27076.5  ...                 0                0                0
27          23827.5  ...                 0                0                0
28          57676.5  ...                 0                0                0
29           9000.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
307481      19975.5  ...                 0                0                0
307482      34969.5  ...                 0                0                0
307483      16479.0  ...                 0                0                0
307484      35617.5  ...                 0                0                0
307485       9000.0  ...                 0                0                0
307486      18283.5  ...                 0                0                0
307487      31473.0  ...                 0                0                0
307488      13351.5  ...                 0                0                0
307489      23089.5  ...                 0                0                0
307490       9148.5  ...                 0                0                0
307491      31522.5  ...                 0                0                0
307492      43443.0  ...                 0                0                0
307493      37678.5  ...                 0                0                0
307494      46858.5  ...                 0                0                0
307495      23773.5  ...                 0                0                0
307496      16875.0  ...                 0                0                0
307497      12028.5  ...                 0                0                0
307498      52168.5  ...                 0                0                0
307499      12694.5  ...                 0                0                0
307500      35982.0  ...                 0                0                0
307501      11871.0  ...                 0                0                0
307502      10620.0  ...                 0                0                0
307503      17770.5  ...                 0                0                0
307504      16096.5  ...                 0                0                0
307505      22050.0  ...                 0                0                0
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
5                     0                        0.0                       0.0
6                     0                        0.0                       0.0
7                     0                        0.0                       0.0
8                     0                        0.0                       0.0
9                     0                        NaN                       NaN
10                    0                        0.0                       0.0
11                    0                        0.0                       0.0
12                    0                        0.0                       0.0
13                    0                        0.0                       0.0
14                    0                        NaN                       NaN
15                    0                        0.0                       0.0
16                    0                        0.0                       0.0
17                    0                        NaN                       NaN
18                    0                        0.0                       0.0
19                    0                        0.0                       0.0
20                    0                        NaN                       NaN
21                    0                        0.0                       0.0
22                    0                        0.0                       0.0
23                    0                        0.0                       0.0
24                    0                        0.0                       0.0
25                    0                        0.0                       0.0
26                    0                        0.0                       0.0
27                    0                        0.0                       0.0
28                    0                        0.0                       0.0
29                    0                        NaN                       NaN
...                 ...                        ...                       ...
307481                0                        0.0                       0.0
307482                0                        0.0                       0.0
307483                0                        0.0                       0.0
307484                0                        NaN                       NaN
307485                0                        0.0                       0.0
307486                0                        0.0                       0.0
307487                0                        0.0                       0.0
307488                0                        0.0                       0.0
307489                0                        0.0                       0.0
307490                0                        0.0                       0.0
307491                0                        0.0                       0.0
307492                0                        0.0                       0.0
307493                0                        0.0                       0.0
307494                0                        0.0                       0.0
307495                0                        0.0                       0.0
307496                0                        0.0                       0.0
307497                0                        0.0                       0.0
307498                0                        0.0                       0.0
307499                0                        0.0                       0.0
307500                0                        0.0                       0.0
307501                0                        NaN                       NaN
307502                0                        0.0                       0.0
307503                0                        0.0                       0.0
307504                0                        NaN                       NaN
307505                0                        0.0                       0.0
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
5                              0.0                        0.0
6                              0.0                        1.0
7                              0.0                        0.0
8                              0.0                        0.0
9                              NaN                        NaN
10                             0.0                        1.0
11                             0.0                        0.0
12                             0.0                        1.0
13                             0.0                        0.0
14                             NaN                        NaN
15                             0.0                        0.0
16                             0.0                        0.0
17                             NaN                        NaN
18                             0.0                        0.0
19                             0.0                        0.0
20                             NaN                        NaN
21                             0.0                        0.0
22                             0.0                        0.0
23                             0.0                        0.0
24                             0.0                        0.0
25                             0.0                        0.0
26                             0.0                        0.0
27                             0.0                        0.0

In [21]:
app_train.tail()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [23]:
app_train.T

,0,1,2,3,4,5,6,7,8,9,...,307501,307502,307503,307504,307505,307506,307507,307508,307509,307510
SK_ID_CURR,100002,100003,100004,100006,100007,100008,100009,100010,100011,100012,...,456245,456246,456247,456248,456249,456251,456252,456253,456254,456255
TARGET,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
NAME_CONTRACT_TYPE,Cash loans,Cash loans,Revolving loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Revolving loans,...,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans
CODE_GENDER,M,F,M,F,M,M,F,M,F,M,...,F,F,F,F,F,M,F,F,F,F
FLAG_OWN_CAR,N,N,Y,N,N,N,Y,Y,N,N,...,N,N,N,N,N,N,N,N,N,N
FLAG_OWN_REALTY,Y,N,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,N,Y,Y,Y,N
CNT_CHILDREN,0,0,0,0,0,0,1,0,0,0,...,3,1,0,0,0,0,0,0,0,0
AMT_INCOME_TOTAL,202500,270000,67500,135000,121500,99000,171000,360000,112500,135000,...,81000,94500,112500,153000,112500,157500,72000,153000,171000,157500
AMT_CREDIT,406598,1.2935e+06,135000,312682,513000,490496,1.56073e+06,1.53e+06,1.01961e+06,405000,...,269550,225000,345510,331920,225000,254700,269550,677664,370107,675000
AMT_ANNUITY,24700.5,35698.5,6750,29686.5,21865.5,27517.5,41301,42075,33826.5,20250,...,11871,10620,17770.5,16096.5,22050,27558,12001.5,29979,20205,49117.5
AMT_GOODS_PRICE,351000,1.1295e+06,135000,297000,513000,454500,1.395e+06,1.53e+06,913500,405000,...,225000,225000,247500,225000,225000,225000,225000,585000,319500,675000
NAME_TYPE_SUITE,Unaccompanied,Family,Unaccompanied,Unaccompanied,Unaccompanied,"Spouse, partner",Unaccompanied,Unaccompanied,Children,Unaccompanied,...,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied
NAME_INCOME_TYPE,Working,State servant,Working,Working,Working,State servant,Commercial associate,State servant,Pensioner,Working,...,Commercial associate,Working,Commercial associate,Working,Pensioner,Working,Pensioner,Working,Commercial associate,Commercial associate
NAME_EDUCATION_TYPE,Secondary / secondary special,Higher education,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Higher education,Higher education,Secondary / secondary special,Secondary / secondary special,...,Secondary / secondary special,Secondary / secondary special,Higher education,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Higher education,Secondary / secondary special,Higher education
NAME_FAMILY_STATUS,Single / not married,Married,Single / not married,Civil marriage,Single / not married,Married,Married,Married,Married,Single / not married,...,Married,Married,Single / not married,Separated,Single / not married,Separated,Widow,Separated,Married,Married
NAME_HOUSING_TYPE,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,...,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,With parents,House / apartment,House / apartment,House / apartment,House / apartment
REGION_POPULATION_RELATIVE,0.018801,0.003541,0.010032,0.008019,0.028663,0.035792,0.035792,0.003122,0.018634,0.019689,...,0.009175,0.010966,0.0228,0.022625,0.0228,0.032561,0.025164,0.005002,0.005313,0.04622
DAYS_BIRTH,-9461,-16765,-19046,-19005,-19932,-16941,-13778,-18850,-20099,-14469,...,-12961,-16063,-11870,-16705,-24384,-9327,-20775,-14966,-11961,-16856
DAYS_EMPLOYED,-637,-1188,-225,-3039,-3038,-1588,-3130,-449,365243,-2019,...,-1046,-8736,-399,-7258,365243,-236,365243,-7921,-4786,-1262
DAYS_REGISTRATION,-3648,-1186,-4260,-9833,-4311,-4970,-1213,-4597,-7427,-14437,...,-1398,-8672,-675,-9798,-7369,-8456,-4388,-6737,-2562,-5128
DAYS_ID_PUBLISH,-2120,-291,-2531,-2437,-3458,-477,-619,-2379,-3514,-3992,...,-3780,-4531,-3936,-259,-2357,-1982,-4090,-5150,-931,-410
OWN_CAR_AGE,NaN,NaN,26,NaN,NaN,NaN,17,8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLAG_MOBIL,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
FLAG_EMP_PHONE,1,1,1,1,1,1,1,1,0,1,...,1,1,1,1,0,1,0,1,1,1
FLAG_WORK_PHONE,0,0,1,0,0,1,0,1,0,0,...,1,1,0,0,0,0,0,0,0,1
FLAG_CONT_MOBILE,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
FLAG_PHONE,1,1,1,0,0,1,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
FLAG_EMAIL,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
OCCUPATION_TYPE,Laborers,Core staff,Laborers,Laborers,Core staff,Laborers,Accountants,Managers,NaN,Laborers,...,Low-skill Laborers,Laborers,Core staff,Sales staff,NaN,Sales staff,NaN,Managers,Laborers,Laborers
CNT_FAM_MEMBERS,1,2,1,2,1,2,3,2,2,1,...,5,3,1,1,1,1,1,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DEF_30_CNT_SOCIAL_CIRCLE,2,0,0,0,0,0,0,0,0,0,...,1,0,3,0,0,0,0,0,0,0
OBS_60_CNT_SOCIAL_CIRCLE,2,1,0,2,0,0,1,2,1,2,...,2,0,9,0,0,0,0,6,0,0
DEF_60_CNT_SOCIAL_CIRCLE,2,0,0,0,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
DAYS_LAST_PHONE_CHANGE,-1134,-828,-815,-617,-1106,-2536,-1562,-1070,0,-1673,...,-448,-1516,-2315,0,0,-273,0,-1909,-322,-787
FLAG_DOCUMENT_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_3,1,1,0,1,0,1,0,1,1,0,...,1,1,1,1,0,0,1,1,1,1
FLAG_DOCUMENT_4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
FLAG_DOCUMENT_7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_8,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
FLAG_DOCUMENT_9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_14,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AMT_REQ_CREDIT_BUREAU_HOUR,0,0,0,NaN,0,0,0,0,0,NaN,...,NaN,0,0,NaN,0,NaN,NaN,1,0,0
AMT_REQ_CREDIT_BUREAU_DAY,0,0,0,NaN,0,0,0,0,0,NaN,...,NaN,0,0,NaN,0,NaN,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_WEEK,0,0,0,NaN,0,0,0,0,0,NaN,...,NaN,0,0,NaN,0,NaN,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_MON,0,0,0,NaN,0,0,1,0,0,NaN,...,NaN,0,1,NaN,2,NaN,NaN,1,0,2
AMT_REQ_CREDIT_BUREAU_QRT,0,0,0,NaN,0,1,1,0,0,NaN,...,NaN,0,0,NaN,0,NaN,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_YEAR,1,0,0,NaN,0,1,2,0,1,NaN,...,NaN,1,2,NaN,0,NaN,NaN,1,0,1

In [24]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
app_train.T.head()

,0,1,2,3,4,5,6,7,8,9,...,307501,307502,307503,307504,307505,307506,307507,307508,307509,307510
SK_ID_CURR,100002,100003,100004,100006,100007,100008,100009,100010,100011,100012,...,456245,456246,456247,456248,456249,456251,456252,456253,456254,456255
TARGET,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
NAME_CONTRACT_TYPE,Cash loans,Cash loans,Revolving loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Revolving loans,...,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans
CODE_GENDER,M,F,M,F,M,M,F,M,F,M,...,F,F,F,F,F,M,F,F,F,F
FLAG_OWN_CAR,N,N,Y,N,N,N,Y,Y,N,N,...,N,N,N,N,N,N,N,N,N,N

In [43]:
app_train[['TARGET' , 'CODE_GENDER']].iloc[3:100].head()

   TARGET CODE_GENDER
3       0           F
4       0           M
5       0           M
6       0           F
7       0           M

In [36]:
app_train.iloc[3 : 10]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN